@keyframes textFadeIn {
  0%{
    transform: translateX(10px);
    opacity: 0;
  }
  100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes rulesIncrementCircle {
  0%{
    transform: scale(0);
  }
  75%{
    transform: scale(1.15);
  }
  100%{
    transform: scale(1);
  }
}

@keyframes animateTitleText {
  0% {
    transform: translateY(calc(100% + 5px));
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes changeColor {
  0% {
    color: transparent;
  }
  100% {
    color: $c-dark;
  }
}

@keyframes inputAppearance {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(100%);
  }
}

@keyframes flamingoAppearance {
  0% {
    opacity: 0;
    transform: translateY(300px) rotate(-10deg);
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes flamingoMove {
  0% {
    transform: rotate(0) translateY(0);
  }
  100% {
    transform: rotate(-5deg) translateY(5%);
  }
}

@keyframes suitcase {
  0% {
    transform: translateY(100%) scale(0);
  }
  100% {
    transform: translateY(0) scale(1);
  }
}

@keyframes rightLeaf {
  0% {
    opacity: 0;
    transform: translateY(-20%) rotate(30deg);
  }
  25% {
    transform: translateY(5%) rotate(-20deg);
  }
  50% {
    opacity: 1;
    transform: translateY(-3%) rotate(15deg);
  }
  75% {
    transform: translateY(2%) rotate(-5deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes leftLeaf {
  0% {
    opacity: 0;
    transform: translateY(-38%) rotate(38deg);
  }
  25% {
    transform: translateY(-5%) rotate(-20deg);
  }
  50% {
    opacity: 1;
    transform: translateY(10%) rotate(15deg);
  }
  75% {
    transform: translateY(-2%) rotate(-5deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes greenLeaf {
  0% {
    opacity: 0;
    transform: translateY(-15px) rotate(-20deg);
  }
  25% {
    opacity: 0.75;
    transform: translateY(5px) rotate(5deg);
  }
  50% {
    opacity: 1;
    transform: translateY(0) rotate(-5deg);
  }
  75% {
    transform: translateY(0) rotate(2deg);
  }
  100% {
    transform: translateY(0) rotate(0);
  }
}

@keyframes dash {
  0% {
    stroke-dashoffset: 560;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes letterBounce {
  0% {
    transform: translateY(-80px);
  }
  75% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-6px);
  }
  100% {
    transform: translateY(0);
  }
}
